@keyframes hideElement {
  to {
    opacity: 1;
  }
}

@keyframes hideElementVisible {
  100% {
    visibility: visible;
  }
}

@keyframes buttonBlinker {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
