//font import
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main {
  font-family: $font-primary;
  font-weight: 400;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
}

.container {
  display: grid;
  position: relative;
  grid-template-rows: 8rem $container-height-lg max-content max-content 100vh;
  grid-template-columns:
    [left-sidebar-start] 8rem [left-sidebar-end full-start] 1fr repeat(
      10,
      [col-start] minmax(min-content, 10rem) [col-end]
    )
    1fr [full-end right-sidebar-start]8rem [right-sidebar-end];
}
