.neon-button {
  font-family: $font-secondary;
  font-size: $fz-sm;
  color: $color-green;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0.1em $color-green solid;
  padding: 0.5em 1em;
  border-radius: 0.15em;

  text-shadow: 0 0 0.125em rgba(#fff, 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 $color-green, 0 0 0.5em 0 $color-green;
  position: relative;
  z-index: $z-neon-button;

  transition: background-color 0.2s linear;

  &::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: $color-green;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.25);
    transition: opacity 0.2s linear;
    filter: blur(1.8em);
    opacity: 0.7;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 1.5em 0.2em $color-green;
    opacity: 0;
    transition: opacity 0.2s linear;
  }
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }

  &:hover,
  &:focus {
    text-shadow: none;
    background-color: $color-light-navy;
  }
}

.numbered-heading {
  display: flex;
  align-items: center;
  width: 100%;
  -webkit-box-align: center;
  -moz-box-align: center;
  position: relative;
  margin: 1rem 0 4rem;
  font-size: clamp(2.6rem, 5vw, $fz-heading);
  white-space: nowrap;
  font-family: $font-primary;
  font-weight: 600;
  line-height: 1.1;
  color: $color-slate-lightest;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;

  //&::before {
  //  position: relative;
  //  bottom: 0.4rem;
  //  counter-increment: section 1;
  //  content: "0" counter(section) ".";
  //  margin-right: 1rem;
  //  color: $color-green;
  //  font-family: $font-secondary;
  //  font-size: clamp($fz-md, 3vw, $fz-xl);
  //  font-weight: 400;
  //}
  &::after {
    content: "";
    display: block;
    position: relative;
    top: -0.5rem;
    width: 30rem;
    height: 1px;
    margin-left: 2rem;
    background-color: $color-lightest-navy;
  }
}

.heading-number {
  position: relative;
  bottom: 0.4rem;
  margin-right: 1rem;
  color: $color-green;
  font-family: $font-secondary;
  font-size: clamp($fz-md, 3vw, $fz-xl);
  font-weight: 400;
}

.underlined-link {
  text-decoration: none;
  color: $color-green;
  display: inline-block;
  position: relative;
  text-decoration-skip-ink: auto;

  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: var(--bottom);
    left: 0;
    background-color: rgba($color-green, 0.5);
    visibility: hidden;
    transition: $link-transition;
  }
  &:hover:before {
    visibility: visible;
    width: 100%;
  }
}

.inline-link {
  text-decoration: none;
  color: $color-green;
  display: inline-block;
  text-decoration-skip-ink: auto;
  transition: all .3s;

  &:hover {
    transform: scale(1.05);
  }
}
