//FONTS
$font-primary: "Calibre", sans-serif;
$font-secondary: "Fira Code", sans-serif;

//COLORS
//navy
$color-navy: #0a192f;
$color-light-navy: #112240;
$color-lightest-navy: #233554;

//slate
$color-slate: #8892b0;
$color-light-slate: #a8b2d1;
$color-slate-lightest: #ccd6f6;

//secondary
$color-white: #e6f1ff;
$color-green: #64ffda;

//z-index
$z-header: 5;
