//FONTS
$font-primary: "Calibre", sans-serif;
$font-secondary: "Fira Code", sans-serif;

//COLORS
//navy
$color-navy: #0a192f;
$color-light-navy: #112240;
$color-lightest-navy: #233554;

//slate
$color-slate: #8892b0;
$color-light-slate: #a8b2d1;
$color-slate-lightest: #ccd6f6;

//secondary
$color-white: #e6f1ff;
$color-green: #64ffda;
//z-index
$z-header: 5;
$z-sidebars: 2;
$z-neon-button: 3;

//font sizes
$fz-xxs: 1.2rem;
$fz-xs: 1.3rem;
$fz-sm: 1.4rem;
$fz-md: 1.6rem;
$fz-lg: 1.8rem;
$fz-xl: 2rem;
$fz-xxl: 2.2rem;

//transitions

$link-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
