//HEADER
.header {
  background-color: rgba($color-navy, 0.95);
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 8rem;
  z-index: $z-header;
  transition: all 0.3s;
  backdrop-filter: blur(3px);

  &.navbar-hidden {
    box-shadow: none;
    transform: translate3d(0, -100%, 0);
  }

  //header logo
  &__logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 2rem;
  }
}

//NAVIGATION
.navigation {
  font-family: $font-secondary;
  font-size: 1.3rem;

  //navigation item
  &__item {
    padding: 1rem;
    transition: all 0.3s;
    cursor: pointer;

    &:not(last-child) {
      margin-right: 1.2rem;
    }

    &:hover {
      outline: 2px dashed $color-green;
      outline-offset: 3px;
    }
  }
  //navigation list
  &__list {
    display: flex;
    list-style: none;
    margin-right: 2rem;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  //navigation link
  &__link,
  &__link:visited,
  &__link:link {
    text-decoration: none;
    color: $color-slate-lightest;
    padding: 1rem;
    transition: all 0.3s;

    &:hover {
      color: $color-green;
    }
  }

  // navigation number
  &__number {
    color: $color-green;
  }

  &__ham-item {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    z-index: $z-ham;
    padding: 1rem;
    border: 0;
    right: 1.5rem;
    top: 2rem;
    bottom: 2rem;
    background-color: transparent;
    color: inherit;
    text-transform: none;

    @media screen and (min-width: 768px) {
      display: none;
    }

    &:hover {
      outline: 2px dashed $color-green;
      outline-offset: 3px;
    }
  }
  &__hamburger {
    display: inline-block;
    position: relative;
    width: 3rem;
    height: 2.4rem;
    transform: scaleX(-1);
    cursor: pointer;

    &-inner {
      position: absolute;
      top: 50%;
      right: 0;
      width: 3rem;
      height: 2px;
      border-radius: 0.4rem;
      background-color: var(--middle-background-color);

      &::before {
        position: absolute;
        height: 2px;
        content: "";
        width: var(--ham-top-width);
        top: var(--before-top);
        opacity: 1;
        background-color: $color-green;
        transform: rotate(var(--before-deg));
        transition: all 0.3s;
      }

      &::after {
        position: absolute;
        height: 2px;
        content: "";
        width: var(--ham-bottom-width);
        top: var(--after-top);
        background-color: $color-green;
        transform: rotate(var(--after-deg));
        transition: all 0.3s;
      }
    }
  }
}

//animations
.navigation-logo-animation {
  @include animationDelay(1s, fadeIn 1s);
}
.navigation-fade-in {
  &-1 {
    @include animationDelay(1s, fadeInDown 2s, hideElement 1s);
  }
  &-2 {
    @include animationDelay(1.2s, fadeInDown 2s, hideElement 1.2s);
  }
  &-3 {
    @include animationDelay(1.4s, fadeInDown 2s, hideElement 1.4s);
  }
  &-4 {
    @include animationDelay(1.6s, fadeInDown 2s, hideElement 1.6s);
  }
}
