//HEADER
.header {
  background-color: $color-light-navy;
  grid-row: 1 / span 1;
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: $z-header;

  //header logo
  &__logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 2rem;
  }
}

//NAVIGATION
.navigation {
  font-family: $font-secondary;
  font-size: 1.3rem;

  //navigation item
  &__item {
    padding: 1rem;
    transition: all 0.3s;
    cursor: pointer;

    &:not(last-child) {
      margin-right: 1.2rem;
    }

    &:hover {
      outline: 2px dashed $color-green;
      outline-offset: 3px;
    }
  }
  //navigation list
  &__list {
    display: flex;
    list-style: none;
    margin-right: 2rem;
  }
  //navigation link
  &__link,
  &__link:visited,
  &__link:link {
    text-decoration: none;
    color: $color-slate-lightest;
    padding: 1rem;
    transition: all 0.3s;

    &:hover {
      color: $color-green;
    }
  }

  // navigation number
  &__number {
    color: $color-green;
  }
}

//animations
.navigation-logo-animation {
  @include animationDelay(1.4s, fadeIn 1.4s);
}
.navigation-fade-in {
  &-1 {
    @include animationDelay(1s, fadeInDown 2s, hideElement 1s);
  }
  &-2 {
    @include animationDelay(1.2s, fadeInDown 2s, hideElement 1.2s);
  }
  &-3 {
    @include animationDelay(1.4s, fadeInDown 2s, hideElement 1.4s);
  }
  &-4 {
    @include animationDelay(1.6s, fadeInDown 2s, hideElement 1.6s);
  }
}
