.notfound {
  background-color: $color-navy;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__heading {
    color: $color-green;
    font-family: $font-secondary;
    font-weight: 400;
    font-size: clamp(100px, 25vw, 200px);
    line-height: 1;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: clamp(30px, 5vw, 50px);
    font-weight: 400;
    font-family: $font-primary;
    line-height: 1.1;
    color: $color-slate-lightest;
    margin-bottom: 1.5rem;
  }
}
