.projects {
  grid-row: 5 / span 1;
  grid-column: full-start/ full-end;
  height: 100%;
  width: 100%;
  background-color: $color-navy;
  z-index: $z-main;
  padding: 20rem 20%;

  @include fill-all-columns;

  @media screen and (max-width: 1080px) {
    padding: 20rem 5rem;
  }
  @media screen and (max-width: 490px) {
    padding: 20rem 2rem;
  }

  & > div {
    opacity: 0;
  }
}
.project {
  position: relative;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: max-content;
  -moz-box-align: center;
  align-items: center;
  margin-bottom: 10rem;

  @media only screen and (max-width: 780px) {
    margin-bottom: 5rem;
  }

  &:nth-child(2n) &__content {
    grid-column: 1 / 7;
    text-align: left;
    grid-area: 1 / 1 / -1 / 7;

    @media only screen and (max-width: 1080px) {
      grid-column: 1 / 9;
    }

    @media only screen and (max-width: 780px) {
      grid-column: 1 / -1;
      padding: 4rem 4rem 3rem;
      text-align: left;
    }

    @media only screen and (max-width: 480px) {
      grid-column: 1 / -1;
      padding: 4rem 2rem 3rem;
      text-align: left;
    }
  }

  &:nth-child(2n) &__image-content {
    grid-column: 6 / -1;
    grid-area: 1 / 6 / -1 / -1;
    z-index: 2;
    @media only screen and (max-width: 780px) {
      grid-column: 1/-1;
    }
  }
  &:nth-child(2n) &__tech-list {
    justify-content: flex-start;
  }
  &:nth-child(2n) &__links {
    justify-content: flex-start;
  }

  &__content {
    grid-column: 7 / -1;
    text-align: right;
    position: relative;
    grid-area: 1 / 7 / -1 / -1;
    z-index: $z-main;

    @media only screen and (max-width: 1080px) {
      grid-column: 5 / -1;
    }
    @media only screen and (max-width: 780px) {
      grid-column: 1 / -1;
      padding: 4rem 4rem 3rem;
      text-align: left;
    }
    @media only screen and (max-width: 480px) {
      grid-column: 1 / -1;
      padding: 4rem 2rem 3rem;
      text-align: left;
    }
  }
  &__overline {
    margin: 1rem 0;
    color: $color-green;
    font-family: $font-secondary;
    font-size: $fz-xs;
    font-weight: 400;
  }
  &__title {
    font-size: clamp(2.4rem, 5vw, 2rem);
    font-weight: 600;
    line-height: 1.1;
    font-family: $font-primary;
    margin-bottom: 1.2rem;
  }
  &__link {
    text-decoration: none;
    color: $color-slate-lightest;
    transition: all 0.3s;
    @media only screen and (max-width: 780px) {
      color: $color-white;
    }
    &:hover {
      color: $color-green;
    }
  }
  &__description {
    box-shadow: 0 1rem 3rem -1.5rem $navy-shadow;
    padding: 2.5rem;
    border-radius: 0.4rem;
    background-color: $color-light-navy;
    font-size: $fz-lg;
    color: $color-light-slate;
    font-family: $font-primary;

    @media only screen and (max-width: 780px) {
      box-shadow: none;
      background-color: transparent;
      padding: 2.5rem 0;
    }

    @media only screen and (max-width: 480px) {
      padding: 0.5rem 0;
    }
  }
  &__tech-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: 2.5rem 0 1rem;
    list-style: none;
    justify-content: flex-end;
    @media only screen and (max-width: 780px) {
      justify-content: flex-start;
      margin: 1rem 0;
    }

    & li {
      margin-bottom: 0.5rem;
      color: $color-light-slate;
      font-family: $font-secondary;
      font-size: $fz-xs;
      white-space: nowrap;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
  &__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media only screen and (max-width: 780px) {
      justify-content: flex-start;
    }
  }
  &__icon {
    height: 2rem;
    width: 2rem;
    text-decoration: none;
    color: $color-slate-lightest;
    transition: all 0.3s;
    &:not(:last-child) {
      margin-right: 2rem;
    }
    &:last-child {
      height: 2.2rem;
      width: 2.2rem;
    }
    &:hover {
      color: $color-green;
    }
  }
  &__image-content {
    grid-column: 1 / 8;
    grid-area: 1 / 1 / -1 / 8;
    z-index: 2;
    height: 100%;
    @media only screen and (max-width: 780px) {
      grid-column: 1/-1;
    }
  }
  &__image-wrapper {
    display: block;
    position: relative;
    border-radius: 0.4rem;
    background-color: $color-green;
    mix-blend-mode: screen;
    transition: $link-transition;
    height: 100%;
    width: 100%;
    @media only screen and (max-width: 780px) {
      background-color: rgba($color-navy, 0.9);
    }

    &:hover,
    &:focus {
      background: transparent;
      outline: 0;

      & img {
        filter: none;
        mix-blend-mode: normal;
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
    mix-blend-mode: multiply;
    filter: grayscale(100%) contrast(1) brightness(90%);

    @media only screen and (max-width: 780px) {
      filter: none;
      object-fit: cover;
    }

    &-link {
      height: 100%;
    }
  }
}
