//SIDEBAR
.sidebar-left {
  grid-column: left-sidebar-start / left-sidebar-end;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: $color-light-navy;

  //sidebar icons
  &__icons {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0 auto;
      background-color: $color-light-slate;
    }
  }
  & li {
    list-style: none;
  }
  //sidebar icon
  &__icon {
    cursor: pointer;
    width: 2.2rem;
    height: 2.2rem;
    color: $color-light-slate;
    transition: all 0.3s;
    &:not(last-child) {
      margin-bottom: 2.4rem;
    }
    &:hover {
      color: $color-green;
      transform: translateY(-5px) scale(1.2);
    }
  }
}

.sidebar-right {
  grid-column: right-sidebar-start / right-sidebar-end;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: $color-light-navy;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__container {
    position: absolute;
    bottom: 0;
    &::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 0 auto;
      background-color: $color-light-slate;
    }
  }
  &__email,
  &__email:visited,
  &__email:link {
    font-family: $font-secondary;
    font-size: 1.2rem;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 2.4rem;
    text-decoration: none;
    color: $color-light-slate;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: all 0.3s;
    backface-visibility: hidden;
    &:hover {
      color: $color-green;
      transform: translateY(-10px) scale(1.05);
    }
  }
}

//sidebar animation
.sidebar-left-animation {
  @include animationDelay(2.2s, fadeIn 2.2s);
}
.sidebar-right-animation {
  @include animationDelay(2.5s, fadeIn 2.5s);
}
