.skills {
  grid-row: 4 / span 1;
  grid-column: col-start 1 / span 10;
  height: 100%;
  width: 100%;
  background-color: $color-navy;
  padding: 10rem 0;

  &__container {
    padding: 5rem;
    background-color: $color-light-navy;
    box-shadow: 0 1rem 3rem -1.5rem $navy-shadow;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 2rem;
    list-style: none;
  }

  &__item {
    box-shadow: 0 1rem 4rem -1rem $dark-navy-shadow;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    &-heading {
      font-size: 1.3rem;
      font-weight: 400;
      font-family: $font-secondary;
      color: $color-light-slate;
      margin-bottom: 0.5rem;
    }
    &-progress {
      display: flex;
      justify-content: space-between;

      &-bar {
        height: 1.5rem;
        width: 90%;
        background-color: $color-slate-lightest;
        position: relative;
        border-radius: 0.2rem;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: var(--width);
          background-color: $color-green;
          filter: brightness(90%);
        }
      }
      &-percent {
        font-size: 1.2rem;
        font-weight: 400;
        font-family: $font-secondary;
        color: $color-green;
        margin-right: 0.5rem;
      }
    }
  }
}
